@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  /* font-family: "Almarai", sans-serif; */
  overflow-x: hidden !important;
  max-width: 100vw !important;
}

::-webkit-scrollbar{
  background-color: #907457;
}
::-webkit-scrollbar-thumb {
  background-color: #e7dbbe;
}